name: Release Drafter

on:
  push:
    branches:
      - main
      - master
  # ZMIANA: 'pull_request' jest bezpieczniejsze i wspierane przez Forgejo
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  update_release_draft:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    S-v